/* Navbar start */
.container-fluid {
    padding: 0px 30px;
    width: 70%;
    margin: auto;
}

.container-fluid .brand {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 45px;

    .navbar-brand {
        color: #00AC4A;
    }
}

.container-fluid .brand p {
    font-size: 15px;
    margin: 0px;
}

.container-fluid .brand img {
    width: 100px;
    height: 100px;
}

.container-fluid .links {
    border: 2px solid #00AC4A;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.container-fluid .btn {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.container-fluid .btn .btn1 {
    background-image: linear-gradient(to right, #08cc5d, #079243);
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    margin-right: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-fluid .btn button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    color: #00AC4A;
    border: 2px solid #00ac4be5;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Navbar end */

/* Home start */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 130px;
    margin-left: 130px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.mainheading {
    display: flex;
    align-items: center;

    .dr {
         background-image: linear-gradient(to right, #08cc5d, #079243);
         font-size: 25px;
         color: white;
         border-radius: 50%;
         padding: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 10px;
    }


    h1 {
        font-size: 52px;


        span {
            color: #00AC4A;
        }
    }


}
.heading1{
        margin-left: 50px;
        font-size: 26px;

        p{
            margin-bottom: 0;
            font-weight: 100;
        }

        h6{
            font-size: 26px;
            margin-top: 0px;
            color: #00AC4A;
            margin-bottom: 20px;
        }
    }